<section class="container-fluid py-5" id="menu">
  <div class="container py-5">
    <div class="row text-center justify-content-center mb-5">
      <div class="col-lg-8">
        <h2 class="text-uppercase">Menu</h2>
        <p class="font-weight-light mb-4">From fresh coffee beans grinded daily to flavored teas and hot chocolate to thoughtfully prepared good eats we are Lufkin / Hudson's favorite coffee shop!</p>
        <a href="https://www.doordash.com/business/270737/?utm_source=partner-link&utm_medium=website&utm_campaign=270737&utm_content=red-s" target="_blank" alt="Order Food Delivery with DoorDash" title="Order Food Delivery with DoorDash" style="text-decoration: none"><div style="position: relative; width:142px; height:35px; margin: 0px auto; background-image: url(https://cdn.doordash.com/media/button/button_red_s.svg); color:transparent">Order Food Delivery with DoorDash</div></a>
      </div>
    </div>

    <div class="row text-center text-lg-left justify-content-center">
      <div class="col-lg-10">
        <h3 class="text-uppercase menu-title mb-5">
          <img src="images/hot-coffee.svg" alt="Hot Coffee">
          Coffee and Espresso
        </h3>
      </div>
    </div>
    <div class="row text-center text-lg-left justify-content-center">
      <div class="col-lg-5 mb-4">
        <h4 class="text-uppercase menu-item"><span class="mr-3">Black Drip Coffee</span> <span class="price">$2.00 | $2.50 | $3.00</span></h4>
        <p class="font-weight-light menu-item-description">Regular or Decaf (Add syrup 50&#162;)</p>
      </div>
      <div class="col-lg-5 mb-4">
        <h4 class="text-uppercase menu-item"><span class="mr-3">Misto</span> <span class="price">$2.50 | $3.00 | $3.50</span></h4>
        <p class="font-weight-light menu-item-description">Black coffee + steamed milk</p>
      </div>
    </div>
    <div class="row text-center text-lg-left justify-content-center">
      <div class="col-lg-5 mb-4">
        <h4 class="text-uppercase menu-item"><span class="mr-3">Double Espresso</span> <span class="price">$2.25</span></h4>
        <p class="font-weight-light menu-item-description">For when you really need a caffeine kick.</p>
      </div>
      <div class="col-lg-5 mb-4">
        <h4 class="text-uppercase menu-item"><span class="mr-3">Red Eye</span> <span class="price">$2.75 | $3.50 | $4.25</span></h4>
        <p class="font-weight-light menu-item-description">Single espresso + black coffee</p>
      </div>
    </div>
    <div class="row text-center text-lg-left justify-content-center">
      <div class="col-lg-5 mb-4">
        <h4 class="text-uppercase menu-item"><span class="mr-3">Black Eye</span> <span class="price">$3.50 | $4.25 | $5.00</span></h4>
        <p class="font-weight-light menu-item-description">Double espresso + hot water</p>
      </div>
      <div class="col-lg-5 mb-4">
        <h4 class="text-uppercase menu-item"><span class="mr-3">Café Americano</span> <span class="price">$2.25 | $3.00 | $3.75</span></h4>
        <p class="font-weight-light menu-item-description">Double espresso + hot water</p>
      </div>
    </div>
    <div class="row text-center text-lg-left justify-content-center">
      <div class="col-lg-5 mb-5">
        <h4 class="text-uppercase menu-item"><span class="mr-3">Café Breve</span> <span class="price">$3.50 | $4.25 | $5.00</span></h4>
        <p class="font-weight-light menu-item-description">Espresso + steamed half & half</p>
      </div>
      <div class="col-lg-5 mb-0">

      </div>
    </div>

    <div class="row text-center text-lg-left justify-content-center">
      <div class="col-lg-10">
        <h3 class="text-uppercase menu-title">
          <img src="images/cappuccino.svg" alt="Cappuccino">
          Cappuccino, Macchiato, Latte
        </h3>
        <h4 class="menu-sub-title mb-5">Hot or Iced</h4>
      </div>
    </div>
    <div class="row text-center text-lg-left justify-content-center">
      <div class="col-lg-5 mb-4">
        <h4 class="text-uppercase menu-item"><span class="mr-3">Cappuccino</span> <span class="price">$3.25 | $3.75 | $4.25</span></h4>
        <p class="font-weight-light menu-item-description">Espresso + frothed steam milk</p>
      </div>
      <div class="col-lg-5 mb-4">
        <h4 class="text-uppercase menu-item"><span class="mr-3">Macchiato</span> <span class="price">$3.25 | $3.75 | $4.25</span></h4>
        <p class="font-weight-light menu-item-description">Steamed milk + espresso</p>
      </div>
    </div>
    <div class="row text-center text-lg-left justify-content-center">
      <div class="col-lg-5 mb-4">
        <h4 class="text-uppercase menu-item"><span class="mr-3">Caramel Macchiato</span> <span class="price">$3.75 | $4.25 | $4.75</span></h4>
        <p class="font-weight-light menu-item-description">Steamed milk + caramel + espresso</p>
      </div>
      <div class="col-lg-5 mb-4">
        <h4 class="text-uppercase menu-item"><span class="mr-3">Latte</span> <span class="price">$3.25 | $3.75 | $4.25</span></h4>
        <p class="font-weight-light menu-item-description">Espresso + steamed milk</p>
      </div>
    </div>
    <div class="row text-center text-lg-left justify-content-center">
      <div class="col-lg-5 mb-4">
        <h4 class="text-uppercase menu-item"><span class="mr-3">Vanilla Latte</span> <span class="price">$3.75 | $4.25 | $4.75</span></h4>
        <p class="font-weight-light menu-item-description">Espresso + steamed milk + vanilla</p>
      </div>
      <div class="col-lg-5 mb-4">
        <h4 class="text-uppercase menu-item"><span class="mr-3">Hazelnut Latte</span> <span class="price">$3.75 | $4.25 | $4.75</span></h4>
        <p class="font-weight-light menu-item-description">Espresso + steamed milk + hazelnut</p>
      </div>
    </div>
    <div class="row text-center text-lg-left justify-content-center">
      <div class="col-lg-5 mb-4">
        <h4 class="text-uppercase menu-item"><span class="mr-3">Caramel Latte</span> <span class="price">$3.75 | $4.25 | $4.75</span></h4>
        <p class="font-weight-light menu-item-description">Espresso + steamed milk + caramel</p>
      </div>
      <div class="col-lg-5 mb-4">
        <h4 class="text-uppercase menu-item"><span class="mr-3">Chai Latte</span> <span class="price">$3.75 | $4.25 | $4.75</span></h4>
        <p class="font-weight-light menu-item-description">Chai tea + steamed milk</p>
      </div>
    </div>
    <div class="row text-center text-lg-left justify-content-center">
      <div class="col-lg-5 mb-4">
        <h4 class="text-uppercase menu-item"><span class="mr-3">Dirty Chai Latte</span> <span class="price">$4.00 | $4.50 | $5.00</span></h4>
        <p class="font-weight-light menu-item-description">Chai tea + espresso + steamed milk</p>
      </div>
      <div class="col-lg-5 mb-4">
        <h4 class="text-uppercase menu-item"><span class="mr-3">Café Mocha</span> <span class="price">$3.75 | $4.25 | $4.75</span></h4>
        <p class="font-weight-light menu-item-description">Espresso + steamed milk + chocolate</p>
      </div>
    </div>
    <div class="row text-center text-lg-left justify-content-center">
      <div class="col-lg-5 mb-4">
        <h4 class="text-uppercase menu-item"><span class="mr-3">Mocha White</span> <span class="price">$3.75 | $4.25 | $4.75</span></h4>
        <p class="font-weight-light menu-item-description">Espresso + steamed milk + white chocolate</p>
      </div>
      <div class="col-lg-5 mb-4">
        <h4 class="text-uppercase menu-item"><span class="mr-3">Mocha Almond Amore</span> <span class="price">$3.75 | $4.25 | $4.75</span></h4>
        <p class="font-weight-light menu-item-description">Espresso + steamed milk + chocolate + almond</p>
      </div>
    </div>
    <div class="row text-center text-lg-left justify-content-center">
      <div class="col-lg-5 mb-4">
        <h4 class="text-uppercase menu-item"><span class="mr-3">Mocha Coconut Craze</span> <span class="price">$3.75 | $4.25 | $4.75</span></h4>
        <p class="font-weight-light menu-item-description">Espresso + steamed milk + chocolate + coconut</p>
      </div>
      <div class="col-lg-5 mb-4">
        <h4 class="text-uppercase menu-item"><span class="mr-3">Mocha Mint Magic</span> <span class="price">$3.75 | $4.25 | $4.75</span></h4>
        <p class="font-weight-light menu-item-description">Espresso + steamed milk + chocolate + peppermint</p>
      </div>
    </div>
    <div class="row text-center text-lg-left justify-content-center">
      <div class="col-lg-5 mb-5">
        <h4 class="text-uppercase menu-item"><span class="mr-3">Frozen Flavored Latte</span> <span class="price">$4.25 | $4.75 | $5.25</span></h4>
        <p class="font-weight-light menu-item-description">Espresso + milk + 1 or 2 flavors + base powder</p>
      </div>
      <div class="col-lg-5 mb-0">

      </div>
    </div>

    <div class="row text-center text-lg-left justify-content-center">
      <div class="col-lg-10">
        <h3 class="text-uppercase menu-title">
          <img src="images/tea.svg" alt="Tea">
          Teas
        </h3>
        <h4 class="menu-sub-title mb-5">Hot or Iced</h4>
      </div>
    </div>
    <div class="row text-center text-lg-left justify-content-center">
      <div class="col-lg-5 mb-4">
        <h4 class="text-uppercase menu-item"><span class="mr-3">Black Tea</span> <span class="price">$1.75 | $2.25 | $2.75</span></h4>
        <p class="font-weight-light menu-item-description">Regular or Decaf</p>
      </div>
      <div class="col-lg-5 mb-4">
        <h4 class="text-uppercase menu-item"><span class="mr-3">Earl Grey Tea</span> <span class="price">$3.50 | $4.00 | $4.50</span></h4>
        <p class="font-weight-light menu-item-description"></p>
      </div>
    </div>
    <div class="row text-center text-lg-left justify-content-center">
      <div class="col-lg-5 mb-4">
        <h4 class="text-uppercase menu-item"><span class="mr-3">London Fog</span> <span class="price">$3.75 | $4.25 | $4.75</span></h4>
        <p class="font-weight-light menu-item-description">Earl Grey Tea + steamed milk</p>
      </div>
      <div class="col-lg-5 mb-4">
        <h4 class="text-uppercase menu-item"><span class="mr-3">Chai Tea</span> <span class="price">$3.50 | $4.00 | $4.50</span></h4>
        <p class="font-weight-light menu-item-description"></p>
      </div>
    </div>
    <div class="row text-center text-lg-left justify-content-center">
      <div class="col-lg-5 mb-4">
        <h4 class="text-uppercase menu-item"><span class="mr-3">Green Tea</span> <span class="price">$3.50 | $4.00 | $4.50</span></h4>
        <p class="font-weight-light menu-item-description"></p>
      </div>
      <div class="col-lg-5 mb-4">
        <h4 class="text-uppercase menu-item"><span class="mr-3">Peppermint Tea</span> <span class="price">$3.50 | $4.00 | $4.50</span></h4>
        <p class="font-weight-light menu-item-description"></p>
      </div>
    </div>
    <div class="row text-center text-lg-left justify-content-center">
      <div class="col-lg-5 mb-4">
        <h4 class="text-uppercase menu-item"><span class="mr-3">Chamomille Tea</span> <span class="price">$3.50 | $4.00 | $4.50</span></h4>
        <p class="font-weight-light menu-item-description"></p>
      </div>
      <div class="col-lg-5 mb-5">
        <h4 class="text-uppercase menu-item"><span class="mr-3">Hibiscus Tea</span> <span class="price">$3.50 | $4.00 | $4.50</span></h4>
        <p class="font-weight-light menu-item-description"></p>
      </div>
    </div>

    <div class="row text-center text-lg-left justify-content-center">
      <div class="col-lg-10">
        <h3 class="text-uppercase menu-title mb-5">
          <img src="images/hot-chocolate.svg" alt="Hot Chocolate">
          Hot Chocolate
        </h3>
      </div>
    </div>
    <div class="row text-center text-lg-left justify-content-center">
      <div class="col-lg-5 mb-4">
        <h4 class="text-uppercase menu-item"><span class="mr-3">Hot Chocolate</span> <span class="price">$2.50 | $3.00 | $3.50</span></h4>
        <p class="font-weight-light menu-item-description">Steamed milk, regular, or white chocolate</p>
      </div>
      <div class="col-lg-5 mb-5">
        <h4 class="text-uppercase menu-item"><span class="mr-3">Frozen Hot Chocolate</span> <span class="price">$2.50 | $3.00 | $3.50</span></h4>
        <p class="font-weight-light menu-item-description">Milk, regular, or white chocolate</p>
      </div>
    </div>

    <div class="row text-center text-lg-left justify-content-center">
      <div class="col-lg-10">
        <h3 class="text-uppercase menu-title mb-5">
          <img src="images/sugar.svg" alt="Sugar">
          Add Ins & Extras
        </h3>
      </div>
    </div>
    <div class="row text-center text-lg-left justify-content-center">
      <div class="col-lg-10 mb-4">
        <h4 class="text-uppercase menu-item"><span class="mr-3">Syrups</span> <span class="price">50&#162;</span></h4>
        <p class="font-weight-light menu-item-description">Chocolate, White Chocolate, Caramel, Vanilla, Hazelnut, Almond, Cinnamon, Coconut Peppermint, Toffee, Amaretto Salted Caramel, Pumpkin Spice, Buttered Pecan, Pure Cane, Marshmallow, Irish Cream</p>
      </div>
    </div>
    <div class="row text-center text-lg-left justify-content-center">
      <div class="col-lg-10 mb-4">
        <h4 class="text-uppercase menu-item"><span class="mr-3">Sugar-Free Syrups</span> <span class="price">50&#162;</span></h4>
        <p class="font-weight-light menu-item-description">Chocolate, White Chocolate, Vanilla, Caramel, Hazelnut, Almond, Cinnamon Peppermint, Coconut</p>
      </div>
    </div>
    <div class="row text-center text-lg-left justify-content-center">
      <div class="col-lg-10 mb-4">
        <h4 class="text-uppercase menu-item"><span class="mr-3">Extra Espresso Shot</span> <span class="price">75&#162;</span></h4>
        <p class="font-weight-light menu-item-description"></p>
      </div>
    </div>
    <div class="row text-center text-lg-left justify-content-center">
      <div class="col-lg-10 mb-4">
        <h4 class="text-uppercase menu-item"><span class="mr-3">Alternative Milk</span> <span class="price">75&#162;</span></h4>
        <p class="font-weight-light menu-item-description">Almond, Soy, Coconut, Heavy Whipping Cream</p>
      </div>
    </div>
    <div class="row text-center text-lg-left justify-content-center">
      <div class="col-lg-10 mb-4">
        <h4 class="text-uppercase menu-item"><span class="mr-3">Decaf Espresso</span> <span class="price">$1.00</span></h4>
        <p class="font-weight-light menu-item-description"></p>
      </div>
    </div>
    <div class="row text-center text-lg-left justify-content-center">
      <div class="col-lg-10 mb-5">
        <h4 class="text-uppercase menu-item"><span class="mr-3">Fur Latte</span> <span class="price">FREE</span></h4>
        <p class="font-weight-light menu-item-description"></p>
      </div>
    </div>

    <div class="row text-center text-lg-left justify-content-center">
      <div class="col-lg-10">
        <h3 class="text-uppercase menu-title mb-5">
          <img src="images/drink.svg" alt="Drink">
          Other Drinks
        </h3>
      </div>
    </div>
    <div class="row text-center text-lg-left justify-content-center">
      <div class="col-lg-10 mb-4">
        <h4 class="text-uppercase menu-item"><span class="mr-3">Bottled Water</span> <span class="price">$1.00</span></h4>
        <p class="font-weight-light menu-item-description"></p>
      </div>
    </div>
    <div class="row text-center text-lg-left justify-content-center">
      <div class="col-lg-10 mb-4">
        <h4 class="text-uppercase menu-item"><span class="mr-3">Juice</span> <span class="price">$1.50</span></h4>
        <p class="font-weight-light menu-item-description"></p>
      </div>
    </div>
    <div class="row text-center text-lg-left justify-content-center">
      <div class="col-lg-10 mb-5">
        <h4 class="text-uppercase menu-item"><span class="mr-3">Milk</span> <span class="price">$1.00</span></h4>
        <p class="font-weight-light menu-item-description"></p>
      </div>
    </div>

    <div class="row text-center text-lg-left justify-content-center">
      <div class="col-lg-10">
        <h3 class="text-uppercase menu-title mb-5">
          <img src="images/cookie.svg" alt="Cookie">
          Good Eats
        </h3>
      </div>
    </div>
    <div class="row text-center text-lg-left justify-content-center">
      <div class="col-lg-10 mb-4">
        <h4 class="text-uppercase menu-item"><span class="mr-3">Breakfast Sandwiches</span> <span class="price">$3.50</span></h4>
        <p class="font-weight-light menu-item-description"></p>
      </div>
    </div>
    <div class="row text-center text-lg-left justify-content-center">
      <div class="col-lg-10 mb-4">
        <h4 class="text-uppercase menu-item"><span class="mr-3">Muffins</span> <span class="price">$2.00</span></h4>
        <p class="font-weight-light menu-item-description"></p>
      </div>
    </div>
    <div class="row text-center text-lg-left justify-content-center">
      <div class="col-lg-10 mb-4">
        <h4 class="text-uppercase menu-item"><span class="mr-3">Cupcakes</span> <span class="price">$2.50</span></h4>
        <p class="font-weight-light menu-item-description"></p>
      </div>
    </div>
    <div class="row text-center text-lg-left justify-content-center">
      <div class="col-lg-10 mb-4">
        <h4 class="text-uppercase menu-item"><span class="mr-3">Cookies</span> <span class="price">$1.25</span></h4>
        <p class="font-weight-light menu-item-description"></p>
      </div>
    </div>
    <div class="row text-center text-lg-left justify-content-center">
      <div class="col-lg-10 mb-4">
        <h4 class="text-uppercase menu-item"><span class="mr-3">Apple Fritters</span> <span class="price">$2.00</span></h4>
        <p class="font-weight-light menu-item-description"></p>
      </div>
    </div>
    <div class="row text-center text-lg-left justify-content-center">
      <div class="col-lg-10 mb-4">
        <h4 class="text-uppercase menu-item"><span class="mr-3">Sausage Kolaches</span> <span class="price">$1.00</span></h4>
        <p class="font-weight-light menu-item-description"></p>
      </div>
    </div>
    <div class="row text-center text-lg-left justify-content-center">
      <div class="col-lg-10 mb-4">
        <h4 class="text-uppercase menu-item"><span class="mr-3">Fresh Fruit (Small)</span> <span class="price">75&#162;</span></h4>
        <p class="font-weight-light menu-item-description"></p>
      </div>
    </div>
    <div class="row text-center text-lg-left justify-content-center">
      <div class="col-lg-10 mb-4">
        <h4 class="text-uppercase menu-item"><span class="mr-3">Fresh Fruit (Large)</span> <span class="price">$1.50</span></h4>
        <p class="font-weight-light menu-item-description"></p>
      </div>
    </div>


  </div>
</section>
